<form class="" id="user-form" style="display: none">
  <div class="form-floating mb-1">
      <input type="text" class="form-control" id="username" placeholder="username">
      <label for="username">Username</label>
  </div>
  <div class="form-floating mb-1">
      <input type="text" class="form-control" id="first-name" placeholder="First Name">
      <label for="first-name">First Name</label>
  </div>
  <div class="form-floating mb-1">
      <input type="text" class="form-control" id="last-name" placeholder="Last Name">
      <label for="last-name">Last Name</label>
  </div>
  <div class="form-floating mb-1">
      <input type="text" class="form-control" id="user-role" placeholder="user || manager">
      <label for="user-role">User Role</label>
  </div>
  <div class="form-floating mb-1">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
  </div>
  <div class="d-flex justify-content-center"></div>
      <button type="submit" class="btn btn-warning btn-lg" id="create-usr">Create User</button>
  </div>
</form>